/*===============================================
               Basic Properties
================================================*/
body
{
	overflow-x: hidden;
}

*
{
	margin: 0;
	padding: 0;
}
/*=================================================
             End of Basic Properties
==================================================*/

/*================================================
  Sticky Navigation  with background color Start
===============================================*/

.secondary
{
	background-color:  #34495e;
}

/*================================================
  Sticky Navigation  with background color End
===============================================*/

/*================================================
          Navbar Menus Style Start
===============================================*/
.navbar
{
	padding: 19px 0px;
	border-bottom: none !important;
}
.navbar-header a
{
 color: white;
 font-weight: 700;
 font-size: 20px;
}

.navbar ul li a
{
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  transition: all 0.5s ease-in;
  background: transparent !important;
}

.navbar ul li a:hover, .navbar ul li a:focus
{
	color: deepskyblue !important;
	background: none;
}

.navbar-toggle
{
	border: 1px solid white !important;
	transition: all 0.5s ease-in;
}

.navbar-toggle:hover
{
	background-color: deepskyblue !important;
}

.navbar-inverse .navbar-collapse
{
	border-color: transparent !important;
}

span.icon-bar
{
	color: white;
	border: 1px solid white;
}

.navbar-inverse
{
	background-color: transparent !important;
}
/*================================================
            Navbar Menus Style Ends
===============================================*/

/*================================================
               Slider Style Start
===============================================*/

.slider
{
	width: 100%;
	height: 700px;
	background-image: url(../images/apple-black-and-white-black-and-white-169573.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.slider-overlay
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: relative;
}
.slider-content
{
	position: absolute;
	top: 39%;
	width: 100%;
}

.icons .fa
{
	font-size: 35px;
	margin-right: 7px;
}

.cta-div
{
	margin-top: 30px;
	
}

.btn1
{
	padding: 13px 18px;
	background-color: transparent;
	color: white;
	letter-spacing: 1px;
	font-size: 13px;
	border: 2px solid white;
	border-top-left-radius: 15px;
	transition: all 0.5s ease-in;
	margin-right: -6px;
}

.btn1:hover
{
	text-decoration: none;
	color: white;
	background-color: deepskyblue;
	border-color: deepskyblue;
}

.btn2
{
	padding: 13px 18px;
	background-color: transparent;
	color: white;
	letter-spacing: 1px;
	font-size: 13px;
	border: 2px solid white;
	border-bottom-right-radius: 15px;
	transition: all 0.5s ease-in;
	margin-right: 10px;
}

.btn2:hover
{
	text-decoration: none;
	color: white;
	background-color: orangered;
	border-color: orangered;
}

.social-networks a.fa
{
	border: 1px solid white;
	padding:10px;
	color: white;
	height: 35px;
	width: 35px;
	border-radius: 25px;
	margin-right: 2px;
}

.social-networks a.fa:hover
{
	text-decoration:  none;
	background-color: deepskyblue;
	color:white;
	border-color: 1px solid deepskyblue;
	transition: all 0.5s ease-in;
}

.slider .text, .slider .typed-cursor
{
	display: inline;
	font-size: 60px;
	text-transform: uppercase;
}

.primary
{
	color: orangered;
}

.typed-cursor
{
  opacity: 1;
  animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
}

@keyframes blink
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}

@-webkit-keyframes blink
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}

@-moz-keyframes blink
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}
/*================================================
               Slider Style End
===============================================*/

/*================================================
               My Projects Style Start
===============================================*/
.projects-area
{
	margin-top: 30px;
}

.projects-area p
{
	margin-bottom: -5px;
}
.project-wrap
{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	overflow: hidden;
	padding: 25px 35px;
	position: relative;
	transition: all 0.5s ease 0s;
	z-index: 9;
	margin-top: 20px;
}

.project-wrap::before, .project-wrap::after
{
	content: "";
	height: 300%;
	position: absolute;
	transform: rotate(45deg);
	width: 120%;
	z-index: -9;
	transition: all 0.5s;
	opacity: 0;
	background: #34495e;
}

.project-wrap::before
{
	top: -37px;
	left: 100%;
}

.project-wrap:hover::before
{
	left: -27px;
	opacity: 1;
}

.project-wrap::after
{
	right: 100%;
	bottom: -37px;
}

.project-wrap:hover::after
{
	right: -27px;
	opacity: 1;
}

.project-wrap:hover
{
	color: white;
}

.project-wrap:h3
{
	color: white;
}

.project-wrap:hover h3
{
	color: white;
}

.project-wrap:hover h3:after
{
	background-color: white;
}

.project-icon i
{
	font-size: 30px;
	margin-bottom: 20px;
	transition: all 0.5s;
}

.project-wrap:hover .project-icon i
{
	transform: rotate(360deg);
}

.project-wrap h3
{
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 15px;
	position: relative;
}

.project-wrap p
{
	font-size: 14px;
	margin-bottom: 0;
}

.project-title
{
	padding-top: 100px;
}
/*================================================
               My Projects Style End
===============================================*/


/*================================================
               My Skills Pictures Style Start
===============================================*/

.skills_pic
{
	margin-top: -10px;
	margin-bottom: 200px;
}

.row.no-gutters [class*=col-]
{
	padding-left: 0;
	padding-right: 0;
}

.img-wrapper
{
	overflow: hidden;
}

.img-wrapper img
{
	transition: transform 0.5s ease;
	width: 100%;
}

.img-wrapper img:hover
{
	transform: scale(1.5);
	cursor: zoom-in;
}


/*================================================
               My Skills Pictures Style End
===============================================*/


/*================================================
               My Skills Style Start
===============================================*/

.skills
{
	margin-top: 30px;
	padding-top: 150px;
	padding-bottom: 150px;
}



.skill
{
	margin: 0 25px;
}


/*================================================
               My Skills Style End
===============================================*/

/*================================================
               Work Experiences Style Start
===============================================*/

.carousel-inner img
{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 3px solid white;
	padding: 5px;
}

.experiences
{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/videobg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	padding-top: 80px;
	padding-bottom: 155px;
}

.experiences .carousel-indicators
{
	bottom: -60px;
}

.border-bottom
{
	width: 70px;
	height: 2px;
	background: white;
	margin: 0 auto;
}

.carousel-inner p
{
	font-size: 17px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 30px;
}
/*================================================
               Work Experiences Style End
===============================================*/





/*================================================
               Hobbies Style Start
===============================================*/

.hobbies
{
	margin-top: 60px;
	padding-top: 100px;
	margin-bottom: 200px;
}

.hobbies-wrap
{
	box-shadow: 0px 10px 20px rgba(0,0,0,.3);
}

.hobbies-img
{
	position: relative;
}

.hobbies-img:before
{
	position:absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background: #000;
	content:"";
	opacity: 0;
	transform: scale(.8);
	transition: all 0.5s;
}

.hobbies-wrap:hover .hobbies-img:before
{
	opacity: .5;
	transform: scale(1);
}


.hobbies-content
{
	padding: 40px;
	margin-left: -20px;
}

#hobbies_second
{
	margin-top: 40px;
}


/*================================================
               Hobbies Style End
===============================================*/

/*================================================
               Counter Style Start
===============================================*/

.stat
{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/darkbg.jpg);
	background-position: center;
	padding-top: 250px;
	padding-bottom: 300px;
	color: white;
	background-attachment: fixed;
	margin-top: 50px;
}

.stat i
{
	font-size: 80px;
}

.stat-items h2
{
	font-weight: bolder;
	font-size: 42px;
	color: deepskyblue;
}

.stat p
{
	font-weight: bold;
	letter-spacing:  1px;
	font-size: 20px;

}


/*================================================
               Counter Style End
===============================================*/


/*================================================
               Contact Area Style Start
===============================================*/

.contact-area
{
	margin-top: 90px;
	padding-top: 100px;
}

.border-bottom-now
{
	width: 50px;
	height: 2px;
	background: black;
	margin: 0 auto;
}

.contact-infos

{
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: -30px;
	background: darkcyan;
	padding-top: 45px;
	padding-bottom: 35px; 

}

.contact-infos .fa
{
	color: white;
	font-size: 30px;
	border: 1px solid white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 47px;
}

.contact-infos p
{
	color: white;
	margin-top: 20px;
	letter-spacing: 1px;	
}
/*================================================
               Contact Area Style End
===============================================*/
/*================================================
               Map Area Style Start 	
===============================================*/

.maps
{
 margin-top: 20px;
}
/*================================================
               Map Area Style End
===============================================*/

/*================================================
               Footer Area Style Start
===============================================*/

.footer
{
	background-image: url(../images/darkbg.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 145px;
	padding-bottom: 120px;
	background-attachment: fixed;
}

.social-icons a
{
	margin: 0 16px 2px 16px;
	display: inline-block; 	
}

.footer .fa
{
	font-size: 30px;
	color:deepskyblue;
	width: 80px;
	height: 80px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: white;
	line-height: 2;
	border:10px solid #34495e;
	text-align: center;
	transition: all 0.7s ease-in;
}

.social-icons a:hover .fa
{
	border: 10px solid white;
	transform: rotate(360deg);
}

.bordernow
{
	width: 80px;
	border-bottom:  2px solid white;
	margin: 0 auto;
	margin-top: 20px;
}

.copyright p
{
	margin-top: 30px;
	color: white;
}
/*================================================
               Footer Area Style End
===============================================*/

@media screen and (min-height: 326px) and (max-width: 403px)
{
	.navbar-header a
	{
		margin-top: 2px;
	 	color: white;
	 	font-weight: 700;
	 	font-size: 13px;
	}

	.slider .text
	{
		display: none;
	}

	.slider .typed-cursor
	{
		display: none;
	}

	.slider a.btn1, a.btn2
	{
		display: block;
		width: 100%;
	}
}

@media screen and (max-height: 324px)
{
	.service-wrap p
	{
		font-size: 14px;
	}

	.navbar-header a
	{
		margin-top: 2px;
	 	color: white;
	 	font-weight: 700;
	 	font-size: 13px;
	 	line-height: 50px;
	}

}